[submodule "/home/ben/.vim/bundle/surround"]
	path = /home/ben/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "/home/ben/.vim/bundle/zencoding"]
	path = /home/ben/.vim/bundle/zencoding
	url = http://github.com/mattn/zencoding-vim
[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
